# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Secrets
kaggle.json
.env